eel
PyInstaller
pywin32
pymupdf
pandas
openpyxl
pdfplumber
python-docx
Pillow
pdf2docx
img2pdf
pypdf
rapidocr-onnxruntime
bottle-websocket
websocket-client
comtypes
pywin32
ocrmypdf
pikepdf
pdfminer.six
pluggy
opencv-python-headless
numpy
